.header {
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    background:white;
    border-bottom:1px solid #e6e6e6;
    width:100%;
    padding:10px 20px;
    z-index: 30;
    box-shadow:0px 5px 20px rgba(0,0,0,0.04);
}

.headerMobile {
    position:fixed;
    bottom:-0.6px;
    z-index: 30;
    background:white;
    width:100%;
    display:flex;
    justify-content: center;
    box-shadow:0px -5px 20px rgba(0,0,0,0.04);
}

.logo {
    font-family: 'Permanent Marker', cursive;
    text-transform:uppercase;
    font-size:17px;
    margin:0;
    /* font-family: 'Montserrat';
    font-size:18px;
     */
}

.column {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.cartIcon{
    font-size:20px;
}

.link {
    padding:0 15px;
    font-size:15px;
    font-weight:500;
    font-family:'Montserrat'
}

.button{
    padding:5px 10px;
    display:flex;
    align-items:center;
    flex-direction: column;
    width:33%;
}


.text {
    font-size:11px;
    text-transform: uppercase;
    text-align: center;
    font-weight:600;
    color:rgb(122, 122, 122);
    font-family:'Montserrat';
    padding-top:7px;
}

.wrapperIcon {
    /* background:rgb(70, 70, 70); */
    /* background:#00E676; */
    border-radius:50%;
    margin-bottom: -9px;
    
    
}

.whatsappIcon {
    /* color:white;
    font-size:35px;
    font-weight:700;
    margin-bottom:-3px; */
    color:rgb(70, 70, 70);
    
    font-size:26px;
    font-weight:700;
    
}

.instagramIcon {
    color:rgb(70, 70, 70);
    font-size:25px;
    font-weight:700;
    margin-bottom:-3px;
}

.phoneIcon {
    color:rgb(70, 70, 70);
    font-size:22px;
    font-weight:700;
    margin-bottom:-3px;
}