.header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    top:0;
    background:white;
    border-bottom:1px solid #e6e6e6;
    width:100%;
    padding:10px 50px;
    z-index: 30;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    text-transform:uppercase;
    font-size:21px
}

.link {
    padding:0 15px;
    font-size:15px;
    font-weight:500;
    font-family:'Montserrat'
}

.button{
    padding:10px;
    border-radius:15px;
    transition:background .3s ease-in-out;
    display:flex;
    align-items:center;
    cursor:pointer
}

.button:hover{
    background:#f0f0f0;
}

.text {
    font-size:16px;
    font-weight:600;
    font-family:'Montserrat';
    padding-right:10px;
}

.wrapperIcon {
    background:#00E676;
    border-radius:15px;
    padding:5px;
    
}

.icon {
    color:white;
    font-size:30px;
    font-weight:700;
    margin-bottom:-3px;
    
}

.cartIconWrapper{
    transition:all .3s ease-in-out;
    padding:10px;
    border-radius:15px;
    cursor: pointer;
}

.cartIcon { 
    font-size:20px;
}

.cartIconWrapper:hover {
    background:#f0f0f0;
}